<!-- app/views/categories/_category.html.erb -->
<tr>
  <td><%= category.name %></td>
  <td><%= link_to 'Show', category_path(category) %></td>
  <td><%= link_to 'Edit', edit_category_path(category) %></td>
</tr>
